body {
    background: #ffffff url("../img/001backgroundphoto.png") no-repeat top center;
  }

form {
   color: #000000;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase; 
}

.page-header { 
  list-style-type: none;
  color: #000000;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase;
}


/* Основная часть */

.town {
   color: #000000;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase;
}
.reasons {
   color: #333333;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase; 
}
.interested {
  color: #000000;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase;
}
.arriving {
   color: #333333;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 24px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase; 
}

.search-inn {
   color: #ffffff;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase;
}
.find {
   color: #ffffff;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase;
}

/* Подвал */
.page-footer {
   color: #000000;
   background-color: #ffffff;
   list-style-type: none;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase;
}
.academy {
   color: #000000;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 26px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase; 
}

/* Контент для взрослых, он же - внутренняя страница с отелями */

.inn {
   color: #333333;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 21px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase; 
}

.hotel-name {
   color: #000000;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase;
}

.rating {
   color: #666666;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 21px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase; 
} 

.details {
   color: #ffffff;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: bold;
   line-height: 21px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase;
}
.booking {
   color: #ffffff;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: bold;
   line-height: 21px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase;
}

