
/* Шапка */
/*header img {
  
} */
header ul { 
  list-style-type: none;
  color: #000000;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase;
}
/* Основная часть */
body {
    background: #ffffff url("img/001backgroundphoto.png") no-repeat top center;
  }
h3 {
   color: #000000;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase;
}
p div {
   color: #333333;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase; 
}
h2 {
  color: #000000;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 24px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase;
}
span div {
   color: #333333;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 24px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase; 
}
form {
   color: #000000;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase; 
}

h2 form {
   color: #ffffff;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase;
}
button {
   color: #ffffff;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase;
}
/* Подвал */
footer {
   color: #000000;
   background-color: #ffffff;
   list-style-type: none;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: center;
   text-transform: uppercase;
}
a footer {
   color: #000000;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 26px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase; 
}

/* Контент для взрослых, он же - внутренняя страница с отелями */

p div {
   color: #333333;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 21px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase; 
}

strong div {
   color: #000000;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 21px;
   font-weight: bold;
   line-height: 26px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase;
}

a div {
   color: #ffffff;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: bold;
   line-height: 21px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase;
}
button {
   color: #ffffff;
   font-family: PT Sans, Arial, sans-serif;
   font-size: 14px;
   font-weight: bold;
   line-height: 21px;
   padding: 0 1px;
   text-align: left;
   text-transform: uppercase;
}
