:root {
  --basic-gray: #eeeeee;
  --basic-brown-text: #333333;
  --basic-gray-light: #f2f2f2;
  --basic-gray-background: #666666;
  --gray-active: #bdbbbc;
  --basic-blue-light: #81b3d2;
  --basic-blue: #669ec0;
  --basic-blue-dark: #5496bd;
  --basic-brown-light: #766357;
  --basic-brown: #604e43;
  --basic-brown-dark: #503e33;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
}

body {
  background: #ffffff url("../img/001backgroundphoto.png") no-repeat top center;
}
.page-header { 
color: var(--basic-black);
font-family: PT Sans, Arial, sans-serif;
font-size: 14px;
font-weight: bold;
line-height: 26px;
padding: 0 1px;
text-align: center;
text-transform: uppercase;
}
.navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-content: center;
  align-items: center;
  }
.search-hotel {
  color: var(--basic-black);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 1px;
  text-align: left;
  text-transform: uppercase; 
 }
 
.advantages {
  color: var(--basic-white);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase;
}


/* Основная часть */
.main-page {
  font-family: PT Sans, Arial, sans-serif;
}

.town {
 color: var(--basic-black);
 background-color: var(--basic-white);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 21px;
 font-weight: bold;
 line-height: 26px;
 padding: 0 1px;
 text-align: center;
 text-transform: uppercase;
}
.reasons {
 color: var(--basic-brown-text);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 14px;
 font-weight: normal;
 line-height: 26px;
 padding: 0 1px;
 text-align: center;
 text-transform: uppercase; 
}
.digit {
  color: var(--basic-white);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 0 1px;
  text-align: center;
}
.touristless {
  color: var(--basic-white);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 0 1px;
  text-align: center;
}
.title {
  color: var(--basic-black);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase;
}
.description {
  color: var(--basic-brown-text);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase;
}
.interested {
color: var(--basic-black);
background-color: var(--basic-white);
font-family: PT Sans, Arial, sans-serif;
font-size: 30px;
font-weight: bold;
line-height: 24px;
padding: 0 1px;
text-align: center;
text-transform: uppercase;
}
.order {
  color: var(--basic-brown-text);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 0 1px;
  text-align: center;
}
.arriving {
 color: var(--basic-brown-text);
 background-color: var(--basic-white);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 14px;
 font-weight: normal;
 line-height: 24px;
 padding: 0 1px;
 text-align: center;
 text-transform: uppercase; 
}

.search-inn {
 color: var(--basic-white);
 background-color: var(--basic-brown-light);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 21px;
 font-weight: bold;
 line-height: 26px;
 padding: 0 1px;
 text-align: center;
 text-transform: uppercase;
}
.find {
 color: var(--basic-white);
 background-color: var(--basic-blue-light);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 21px;
 font-weight: bold;
 line-height: 26px;
 padding: 0 1px;
 text-align: center;
 text-transform: uppercase;
}

/* Подвал */
.page-footer {
 color: var(--basic-black);
 background-color: var(--basic-white);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 21px;
 font-weight: bold;
 line-height: 26px;
 padding: 0 1px;
 text-align: center;
 text-transform: uppercase;
 display: flex;
 flex-direction: row;
 align-items: baseline;
 justify-content: space-around;
}
.social {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  align-content: center;
  margin: 10px;
}
.academy {
 color: var(--basic-black);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 14px;
 font-weight: normal;
 line-height: 26px;
 padding: 0 1px;
 text-align: left;
 text-transform: uppercase; 
}

/* Контент для взрослых, он же - внутренняя страница с отелями */
.infrastructure {
  color: var(--basic-white);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 0 1px;
  text-align: left;
  text-transform: uppercase; 
}
.housing {
  color: var(--basic-white);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 0 1px;
  text-align: left;
  text-transform: uppercase; 
}
.sort {
  font-size: 16px;
  font-weight: bold;
}
.price-range-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.price-range {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.minimal,
.maximal {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.show {
  color: var(--basic-white);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase; 
}
.found {
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.container { 
  width: 1200px; 
  margin: 0 auto; 
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}
.inner {
 color: var(--basic-brown-text);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 14px;
 font-weight: normal;
 line-height: 21px;
 padding: 0 1px;
 text-align: left;
 text-transform: uppercase; 
 
}

.hotel-name {
 color: var(--basic-black);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 21px;
 font-weight: bold;
 line-height: 26px;
 padding: 0 1px;
 text-align: left;
 text-transform: uppercase;
}

.rating {
  color: var(--basic-gray-background);
  background-color: var(--basic-gray-light);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  padding: 0 1px;
  text-align: center;
  text-transform: uppercase; 
  box-sizing: border-box;
  outline: 1px solid #f2f2f2;
  width: 110px;
  height: 27px;
} 

.details {
 color: var(--basic-white);
 background-color: var(--basic-blue-light);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 14px;
 font-weight: bold;
 line-height: 21px;
 padding: 0 1px;
 text-align: center;
 text-transform: uppercase;
 text-decoration: none;
 box-sizing: border-box;
 outline: 1px solid #81b3d2; 
 width: 110px;
 height: 27px;
 display: block;
}
.booking {
 color: var(--basic-white);
 background-color: var(--basic-brown-light);
 font-family: PT Sans, Arial, sans-serif;
 font-size: 14px;
 font-weight: bold;
 line-height: 21px;
 padding: 0 1px;
 text-align: center;
 text-transform: uppercase;
 box-sizing: border-box;
 width: 142px;
 height: 27px;
}
